.sberbank-logo {
  display: block;
  width: 160px;
  background: url(/images/sberbank-logo.png) no-repeat;
  background-size: contain;
  height: 30px;
}

.eth-logo {
  background: url(/images/card-etherium.jpg) no-repeat;
  display: block;
  background-size: contain;
  background-position-x: 0;
  width: 34px;
  height: 34px;
  margin-left: 1rem;
}

@media screen and (max-width: 599px) {
  .btn__logout {
    margin-right: 10px !important;
  }
}


.simple-table__header {
  font-size: 1rem;
}

.custom-table [aria-label="Table Toolbar"] {
  background-color: #3eac51;
  color: #fff !important;
}

.custom-table [aria-label="Table Toolbar"] h2 {
  color: #fff;
  font-size: 0.9rem;
}

.custom-table [aria-label="Table Toolbar"] button:hover {
  color: #fff !important;
}

.custom-table [aria-label="Next Page"],
.custom-table [aria-label="Previous Page"] {
  background-color: #fff;
}

[aria-label="Search"]:active {
  background-color: #fff;
}

[aria-label="Search"] input {
  color: #fff;
}

body {
  overflow-x: hidden;
}

.btn-pane {
  text-align: center;
  margin-top: 1.5rem;
}