.sberbank-logo {
  display: block;
  width: 160px;
  background: url(/images/sberbank-logo.png) no-repeat;
  background-size: contain;
  height: 30px;
}

.eth-logo {
  background: url(/images/card-etherium.jpg) no-repeat;
  display: block;
  background-size: contain;
  background-position-x: 0;
  width: 34px;
  height: 34px;
  margin-left: 1rem;
}

.header,
.toolbar {
  background-color: #fff;
}

.cards {
  display: flex;
  align-content: center;
  justify-content: space-between;
  max-width: 900px;
  margin: 2rem auto;
}

.card-unit {
  /* width: 25%; */
  /* min-width: 200px; */
  height: 100%;
  transition: all .2s cubic-bezier(0.4,0,0.2,1);
}

.card-unit:hover {
  transform: translate3d(0, -5px, 0);
}

.cards div div:nth-child(even) div button div {
  background-size: 170px;
}

.card-unit button {
  width: 100%;
}

.simple-table__header {
  font-size: 1rem;
}

.custom-table [aria-label="Table Toolbar"] {
  background-color:#3eac51;
  color: #fff !important;
}
.custom-table [aria-label="Table Toolbar"] h2 {
  color: #fff;
  font-size: 0.9rem;
}

.custom-table [aria-label="Table Toolbar"] button:hover {
  color: #fff !important;
}

.custom-table [aria-label="Next Page"], .custom-table [aria-label="Previous Page"] {
  background-color:#fff;
}

[aria-label="Search"]:active {
  background-color:#fff;
}

[aria-label="Search"] input {
  color:#fff;
}

body {
  overflow-x: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}